{
    auto_https off
}

https://192.168.1.42:443 {
    tls certs/local.pem certs/local-key.pem
    reverse_proxy localhost:3000
}

https://localhost:443 {
    tls certs/local.pem certs/local-key.pem
    reverse_proxy localhost:3000
}
