{
	auto_https off
	admin off
}

https://192.168.0.154:443 {
	tls certs/local.pem certs/local-key.pem
	reverse_proxy localhost:5173
}

https://localhost:443 {
	tls certs/local.pem certs/local-key.pem
	reverse_proxy localhost:5173
}
